# -*- coding: utf-8 -*-
<table style="width: 100%; padding: 0; margin: 0;">
    <tr style="padding: 0; margin: 0;">
        <td style="vertical-align: top; width: 1%; background: #f0f0f0; padding: 6px; border-right: 1px solid #ddd;">
            <div id="popup_fan">
                ${details}
            </div>
        </td>

        <td style="vertical-align: top;  padding: 6px;">
            <div id="popup_fan_details">
                Loading...
            </div>
        </td>
    </tr>
</table>
